#navigation{
	width: 1024px;
	height: 35px;
}
#navigation ul{
    list-style: none;
    float: left;
    margin: 0;
    padding: 4px 8px;
}

#navigation ul li{
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    color: #999;
}

#navigatiob li:hover ul li a,
#navigation ul li a{
	display: block;
	background:yellowgreen;
    display: inline;
    padding: 0 6px 0 0;
    float: none;
    text-transform: lowercase;
    color: #999;
}

#navigation li:hover ul li a:hover,
#navigation ul li a:hover{
    background:#999;
    color: #000;
}