
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:15%;
    float:left;
    padding:5px;	      
}
#section1 {
    width:75%;
    float:left;
    padding:10px;	 	 
}

.menu{
    width: 100%;
	height: 70px;
    font-size: 36px;
}
.menu ul{
    width: 100%;
    height: 80%;
    list-style: none;
    float: left;
    margin: 0;
    padding:4px 8px;
}
.menu ul li{
    display: inline;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
}
.menu ul li:hover a,
.menu ul li a{
    width: 100%;
    height: 100%;
	display: block;
	background:blue;
    display: inline;
    padding: 0 6px 0 0;
    float: left;
    text-transform: lowercase;
    color:white;
    text-decoration: none;
}
.menu li:hover ul li a:hover,
.menu ul li a:hover{
    height: 100%;
    background:green;
    color: #000;
}

.view{
    position: relative;
    width: 25%;
	height: 100px;
    overflow: hidden;
    cursor: default;
    z-index: 0;
    float:left;
}
.view .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100px;
    overflow: hidden;
    opacity: 0;
    color: white;
    transition: all 0.5s ease-in-out;
    background-color: grey;
    z-index: 0;
}
.view:hover .mask{
    opacity: 1;
    text-decoration: none;
}
.intro ul{
    list-style: none;
    float: left;
    margin: 0;
    padding: 0 0;
}
.intro ul li{
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: auto;
}
.view img{
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
}
.view:hover img{
    transform: scale(1.1);
}
.main{
    height: 820px;
    background-repeat: no-repeat;
    background-position: center;
}


