body{
    margin-top: 0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menubar{
    margin: 0;
    padding: 0;
    /* background-color: rgb(172, 128, 69); */
}
.menubar ul{
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    height: 45px;
    line-height: 45px;
    background-color: rgba(149, 141, 133, 0.763);
}
.menubar ul li{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 3; 
    list-style: none;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.menubar ul li:hover a,
.menubar ul li a{
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    color: aliceblue;
    text-decoration: none;
    display: block; 
}
.menubar li:hover ul li a:hover,
.menubar ul li a:hover{
    height: 100%;
    
    background:rgba(182, 225, 220, 0.685);
    /* color: #000; */
}
.admin{
    z-index: 1;
    height: 45px;
    position: absolute;
    left: 0%;
    top: 0;
    width: 20%;
    background-color: rgba(203, 203, 241, 0.51);
}

.background1{
    top: 45px;
    height: 200px;
    /* border-color: green; */
    /* border-style: solid; */
    background-image: url("img/school1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background2{
    height: 1000px;
    padding: 0;
    margin: 0;
    /* border-color: rgb(255, 225, 225);   */
    /* border-style: solid;   */
    background-image: url("img/School_Song.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background3{
    height: 200px;
    /* border-color: blue; */
    /* border-style: solid; */
    background-image: url("img/school2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.schoolLogo{
    z-index: 3;
    display: block;
    position: absolute;
    left: 50px;
    top: 70px;
    background-color: rgba(240, 248, 255, 0.626);
    background-image: url("img/SchoolLogo.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border-color: blue; */
    /* border-style: solid; */
    height: 150px;
    width: 150px;
}
.schoolName{
    z-index: 3;
    padding: 0;
    margin: 0;
    top: 70px;
    left: 200px;
    height: 100px;
    width: 80%;
    line-height: 90px;
    text-align: center;
    position: absolute;
    display:block;
    font-family: "Microsoft Yahei";
    color: rgb(54, 43, 76);
    font-weight: bold;
    background-color: rgba(240, 248, 255, 0.626);  
    /* border-bottom-color: rgb(159, 134, 134); */
    /* border-bottom-style: solid; */
    font-size: 50px;
}

.schoolYear{
    z-index: 3;
    padding: 0;
    margin: 0;
    top: 170px;
    left: 200px;
    height: 50px;
    width:80%;
    text-align: center;
    position: absolute;
    display: block;
    color: rgb(95, 77, 130);
    background-color: rgba(159, 203, 241, 0.626);
    font-family: "Microsoft Yahei";
    font-weight: bold;
    line-height: 40px;
    font-size: 30px;
}

.box-1{
    text-align: center;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    line-height: 40px;
    font-size: 30px;
    height: 50px;
    color: rgb(95, 77, 130);

    float: left;
    margin: 5%;
    width: 40%;
    height: 35%;
    background-color: rgba(152, 99, 190, 0.61);
    border-radius: 25px ;
}
.box-2{
    text-align: center;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    line-height: 40px;
    font-size: 30px;
    height: 50px;
    color: rgb(95, 77, 130);

    float: left;
    margin:5%;
    width: 40%;
    height: 35%;
    background-color: rgba(152, 99, 190, 0.61);
    border-radius: 25px ;
}
.box-3{
    text-align: center;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    line-height: 40px;
    font-size: 30px;
    height: 50px;
    color: rgb(95, 77, 130);

    float: left;
    margin:5%;
    width: 40%;
    height: 35%;
    background-color: rgba(152, 99, 190, 0.61);
    border-radius: 25px ;
}
.box-4{
    text-align: center;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    line-height: 40px;
    font-size: 30px;
    height: 50px;
    color: rgb(95, 77, 130);
    
    float: left;
    margin:5%;
    width: 40%;
    height: 35%;
    background-color: rgba(152, 99, 190, 0.61);
    border-radius: 25px ;
}

.introduction{
    float: left;
    margin-top:2%;
    margin-bottom: 10%;
    width: 100%;
    height:70%;
    background-color: rgba(206, 179, 206, 0.61);
    border-radius: 25px ;
}
.history{
    float: left;
    margin-top:2%;
    margin-bottom: 10%;
    width: 100%;
    height:70%;
    background-color: rgba(206, 179, 206, 0.61);
    border-radius: 25px ;
}
.alumni{
    float: left;
    margin-top:2%;
    margin-bottom: 10%;
    width: 100%;
    height:70%;
    background-color: rgba(206, 179, 206, 0.61);
    border-radius: 25px ;
}
.works{
    float: left;
    margin-top:2%;
    margin-bottom: 10%;
    width: 100%;
    height:70%;
    background-color: rgba(206, 179, 206, 0.61);
    border-radius: 25px ;
}